.hero {
    @apply w-full bg-black h-dvh p-4 relative z-1 flex flex-col justify-center
}

.audio {
    @apply border border-cloud/30 rounded-full p-4 w-80 mx-auto cursor-pointer hover:border-japonica transition-all duration-300
}

.badge {
    @apply flex justify-center items-center gap-4 text-cloud  font-sans
}

.badge .text {
    @apply text-sm tracking-wider 
}

.badge .icon svg {
    @apply w-5 h-5 text-japonica
}

.floating-text span {
    @apply absolute text-sirocco text-xs md:text-base bg-outerspace border border-cloud/30 rounded-full py-1 px-2 md:py-2 md:px-3
}

@keyframes float-slow {
  0%, 100% { transform: translateY(0px) rotate(-6deg); }
  50% { transform: translateY(-10px) rotate(-3deg); }
}

@keyframes float-reverse {
  0%, 100% { transform: translateY(0px) rotate(-6deg); }
  50% { transform: translateY(10px) rotate(-3deg); }
}

.floating-text span.text-1 {
    @apply top-[13%] md:top-[15%] md:left-[4%] -rotate-12;
    animation: float-slow 3s ease-in-out infinite;
}

.floating-text span.text-2 {
    @apply top-[12%] md:top-[7%] rotate-12 right-6 -z-1;
    animation: float-reverse 3s ease-in-out infinite;
}
    
.floating-text span.text-3 {
    @apply top-[50%] md:top-[80%] rotate-12 left-5 -z-1;
    animation: float-reverse 3s ease-in-out infinite;
}
.floating-text span.text-4 {
    @apply top-[55%] md:top-[78%] rotate-2 right-12 -z-1;
    animation: float-slow 3s ease-in-out infinite;
}

.floating-text span.text-5 {
    @apply hidden md:block md:right-[6%] md:top-[28%] -rotate-12;
    animation: float-slow 3s ease-in-out infinite;
}
.floating-text span.text-6 {
    @apply hidden md:block md:top-[31%] md:left-[5%] -z-1 rotate-12;
    animation: float-reverse 3s ease-in-out infinite;
}
.floating-text span.text-7 {
    @apply hidden md:block md:top-[10%] md:left-[35%] rotate-5;
    animation: float-reverse 3s ease-in-out infinite;
}


.tagline {
    @apply mt-10 flex justify-center text-japonica font-sans text-xs md:text-sm uppercase font-normal tracking-[0.2rem]
}

.overlay-circle {
    @apply block w-56 h-20 rounded-full bg-japonica absolute -z-10 -rotate-12 md:rotate-180 blur-[150px] top-[26%] left-24 md:left-56
}

.title {
    @apply mt-10 text-center font-serif text-cloud text-4xl md:text-6xl leading-11 md:leading-16
}

.title br {
    @apply block md:hidden
}

.title span {
    @apply italic text-japonica
}

.description  {
    @apply mt-10 flex justify-center
}

.description p {
    @apply max-w-[90%] md:max-w-[70%] text-center text-lg md:text-xl text-cloud/70 font-light
}

.cta {
    @apply mt-10 flex justify-center
}

.cta button {
    @apply bg-linear-to-r from-japonica to-[#E4B372] rounded-full py-4 px-6 w-4/5 text-cloud/80 font-semibold border-none outline-none cursor-pointer
    hover:scale-105 transition-all duration-500 md:text-xl
}

.tiny-text {
    @apply mt-4 text-center uppercase tracking-[2px] text-xs md:text-sm text-cloud/70 font-light
}